<!DOCTYPE html>
<html>
<head>
    <title>Добавить сотрудника</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Новый сотрудник</h2>
        
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        
        <form method="POST">
            <div class="form-group">
                <label>Логин (Username):</label>
                <input type="text" name="username" required>
            </div>
            
            <div class="form-group">
                <label>Пароль:</label>
                <input type="password" name="password" required>
            </div>
            
            <div class="form-group">
                <label>ФИО:</label>
                <input type="text" name="full_name" required>
            </div>
            
            <div class="form-group">
                <label>Должность:</label>
                <select name="role" required style="width:100%; padding:10px;">
                    <option value="receptionist">Мастер приёмщик</option>
                    <option value="diagnostician">Автодиагност</option>
                    <option value="mechanic">Автомеханик</option>
                </select>
            </div>
            
            <button type="submit" class="btn">Создать</button>
            <a href="{{ url_for('employees') }}" style="display:block; margin-top:15px; text-align:center;">Отмена</a>
        </form>
    </div>
</body>
</html>